<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %} login {% end %}

{% block header %}
    <h1>Login</h1>  
    <h2>to IoT personal dashboard</h2>  
{% end %}

{% block content %}        
      <form class="pure-form pure-form-aligned" action="/login" method="POST">
        <input type="hidden" name="returnUrl" value="{{ returnUrl }}" />
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="username" name="username" type="text" placeholder="Username">
            </div>

            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Login</button>
            </div>
        </fieldset>
    </form>          
{% end %}